<div class="container footer">
  <div class="row text-center almaghrib-logo">
    <img src="images/almaghrib-logo.png" />
  </div>
  <div class="row text-center social-media">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-inverse fa-stack-2x"></i>
      <i class="fa fa-facebook fa-stack-1x"></i>
    </span>

    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-inverse fa-stack-2x"></i>
      <i class="fa fa-twitter fa-stack-1x"></i>
    </span>

    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-inverse fa-stack-2x"></i>
      <i class="fa fa-google-plus fa-stack-1x"></i>
    </span>

    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-inverse fa-stack-2x"></i>
      <i class="fa fa-envelope fa-stack-1x"></i>
    </span>

    <br />
    <br />
    <span class="info">
      Qabeelat Durbah 2016       Webmaster
    </span>
  </div>
</div>


