---
title: Durbah
---

<div class="background-left"></div>
<div class="background-right"></div>
<div class="container">
  <p class="lead">
    We have come to liberate the people from worshiping the <br /> creation, to worship The Creator
  </p>

  <div class="breadcrumb-container">
    <h3 class="text-uppercase breadcrumbs">Home</h3>
  </div>

  <div class="content">

    <div class="embed-responsive embed-responsive-16by9">
      <iframe title="YouTube video player" class=" embed-responsive-item youtube-player" type="text/html" width="640" height="390" src="https://www.youtube.com/embed/kOWrwYI3hEo" frameborder="0" allowFullScreen></iframe>
    </div>

    <hr>

    <p>
    Welcome to Qabeelat Durbah's website!

    <!--
    <hr>

    <div class="row">
      <div class="col-xs-4">
        
        <b>Join the community</b>
        <br />
        <br />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vulputate malesuada orci ac tempus.</p>
        <button type="button" class="btn btn-danger btn-sm">Find Out More</button>

      </div>

      <div class="col-xs-4">

        <b>Join the community</b>
        <br />
        <br />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vulputate malesuada orci ac tempus.</p>
        <button type="button" class="btn btn-danger btn-sm">Find Out More</button>
      
      </div>

      <div class="col-xs-4">
        
        <b>Say Hi</b>
        <br />
        <br />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vulputate malesuada orci ac tempus.</p>
        <button type="button" class="btn btn-danger btn-sm">Find Out More</button>

      </div>
    </div>
    -->

  </div>
</div>
